.root {
  width: 10vw;
  max-width: 40px;

  height: 20vh;
  max-height: 150px;

  background: #FFFFFF;
  opacity: 0.3;
  border-radius: 3px;

  transition: all 0.3s;

  margin: 5px 4px;
}
.marked {
  opacity: 0.95;
}
.selected {
  @extend .marked;

  transform: scale(0.9);
}