.root {
  height: 100vh;
  display: flex;
  flex-flow: column;
}
.restOfPage {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(180px + 10vw);

  & > * {
    margin-top: 10px;
  }
}
.online {
  margin-top: -25px;

  text-align: center;
  
  color: #FFFFFF;
}
