@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.title {
  margin-top: 70px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  text-align: center;

  color: #FFFFFF;
}
.buttonWrapper {
  margin-top: 175px;

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & > * {
    display: flex;
    align-items: center;
  }
}
.online {
  margin-top: -25px;

  font-family: 'Roboto';
  text-align: center;
  
  color: #FFFFFF;
}
